.tableForm {
  position: fixed;
  left: 10px;

  input {
    padding: 2px 4px;
  }

  .tableName {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      text-align: center;
      width: 100%;
    }
  }

  .columns {
    .column {
      display: flex;

      input.selected {
        background-color: bisque;
      }

      input.keyType {
        width: 35px;
        text-align: center;
      }

      input.columnName {
        width: 250px;
      }

      input.columnType {
        width: 100px;
      }

      button.btnAddColumn {
        background-color: #28a745;
        color: #fff;
        border: 1px solid #28a745;
      }

      button.btnAddColumn:hover {
        background-color: #218838;
        border-color: #1e7e34;
      }

      button.btnRemoveColumn {
        background-color: #dc3545;
        color: #fff;
        border: 1px solid #dc3545;
      }

      button.btnRemoveColumn:hover {
        background-color: #c82333;
        border-color: #bd2130;
      }

      button.btnAddColumn,
      button.btnRemoveColumn {
        width: 30px;
        height: 30px;
      }
    }
  }
}