.tableForm {
  position: fixed;
  left: 10px;

  input {
    padding: 2px 4px;
  }

  .tableName {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      text-align: center;
      width: 100%;
    }
  }

  .columns {
    .column {
      display: flex;

      input.selected {
        background-color: bisque;
      }

      input.keyType {
        width: 35px;
        text-align: center;
      }

      input.columnName {
        width: 250px;
      }

      input.columnType {
        width: 100px;
      }

      button.btnAddColumn {
        width: 30px;
        height: 30px;
      }
    }
  }
}