.tableForm {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

  input {
    padding: 2px 4px;
  }

  .tableName {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      text-align: center;
      width: 100%;
    }

    button.btnRemoveTable {
      background-color: #dc3545;
      color: #fff;
      border: 1px solid #dc3545;
    }

    button.btnRemoveTable:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }

    button.btnRemoveTable {
      width: 30px;
      height: 30px;
    }
  }

  .columns {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .column {
      display: flex;
      gap: 2px;

      input.selected {
        background-color: bisque;
      }

      input.keyType {
        width: 35px;
        text-align: center;
      }

      input.columnName {
        flex: 1;
      }

      input.columnType {
        width: 100px;
      }

      button.btnAddColumn {
        background-color: #28a745;
        color: #fff;
        border: 1px solid #28a745;
      }

      button.btnAddColumn:hover {
        background-color: #218838;
        border-color: #1e7e34;
      }

      button.btnRemoveColumn {
        background-color: #dc3545;
        color: #fff;
        border: 1px solid #dc3545;
      }

      button.btnRemoveColumn:hover {
        background-color: #c82333;
        border-color: #bd2130;
      }

      button.btnAddColumn,
      button.btnRemoveColumn {
        width: 30px;
        height: 30px;
      }
    }
  }
}